.home {
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.parties-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 2rem;

  p {
    text-align: center;
  }

  .party {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1rem;

    img {
      width: 100%;
    }
  }

  .btn-secondary {
    max-width: 120px;
    text-align: center;
  }
}
