:root {
  --color-primary: #202124;
  --color-secondary: #525356;
  --color-tertiary: #333;
  --color-text: #fff;
  --color-text-light: #ddd;
  --color-border: #ccc;
  --border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #202124;
}

button {
  cursor: pointer;
}

header {
  border-bottom: 1px solid var(--color-border);
  padding: 1rem 2rem;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#search-input {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  border: none;
  padding: 10px;
  font-weight: bold;
  color: var(--color-text-light);
  width: 400px;

  &:focus {
    outline: 2px solid var(--color-text);
  }

  &::placeholder {
    color: var(--color-text-light);
  }
}

#export-notes {
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-text);
  border-radius: var(--border-radius);
  color: var(--color-text);
  padding: 5px 15px;
  transition: 0.4s;

  &:hover {
    background-color: var(--color-text);
    color: var(--color-tertiary);
  }
}

#add-note-container {
  display: flex;
  width: 400px;
  margin: 1rem auto 0;
  gap: 1rem;

  input,
  button {
    padding: 10px;
    border-radius: var(--border-radius);
  }

  input {
    flex: 1;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    color: var(--color-text);

    &:focus {
      outline: 2px solid var(--color-text);
    }
  }

  button {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border: 1px solid var(--color-secondary);
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

#notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 2rem;
  gap: 2rem;
}

.note {
  min-height: 200px;
  padding: 1rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-text);
  position: relative;

  textarea {
    background-color: transparent;
    resize: none;
    color: var(--color-text);
    border: none;
    height: 100%;
    outline: none;
  }

  .bi-pin {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    background-color: var(--color-tertiary);
    cursor: pointer;
    padding: 5px;
    border-radius: var(--border-radius);
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    .bi-x-lg,
    .bi-file-earmark-plus {
      opacity: 1;
    }
  }

  .bi-x-lg,
  .bi-file-earmark-plus,
  .bi-check-lg {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    padding: 5px;
    transition: 0.3s;
    color: #555;
    cursor: pointer;
    opacity: 0;

    &:hover {
      color: var(--color-text);
    }
  }

  .bi-file-earmark-plus {
    top: 40px;
  }

  .bi-check-lg {
    top: 70px;
    color: var(--color-text);
  }

  &.fixed {
    background-color: #3c3c3f;
  }
}

/* Responsividade */
@media (max-width: 450px) {
  header {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  #search-container,
  #search-input {
    width: 100%;
  }

  #add-note-container {
    width: 100%;
    padding: 0 2rem;
  }

  #notes-container {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
